{
  "log": {
    "_recordingName": "validateDatasetDescriptor-returns valid result for valid dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b944f9f81456aac6e6f238c6799ffef3",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://fairspec.org/profiles/latest/file-dialect.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 6518,
            "text": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"allOf\": [{ \"$ref\": \"#/$defs/FileDialect\" }],\n  \"$defs\": {\n    \"FileDialect\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"$schema\": { \"$ref\": \"#/$defs/Profile\" },\n        \"format\": { \"$ref\": \"#/$defs/Format\" },\n        \"title\": { \"$ref\": \"#/$defs/Title\" },\n        \"description\": { \"$ref\": \"#/$defs/Description\" }\n      },\n      \"allOf\": [\n        {\n          \"if\": { \"properties\": { \"format\": { \"const\": \"csv\" } } },\n          \"then\": { \"$ref\": \"#/$defs/CsvDialect\" }\n        },\n        {\n          \"if\": { \"properties\": { \"format\": { \"const\": \"tsv\" } } },\n          \"then\": { \"$ref\": \"#/$defs/TsvDialect\" }\n        },\n        {\n          \"if\": { \"properties\": { \"format\": { \"const\": \"json\" } } },\n          \"then\": { \"$ref\": \"#/$defs/JsonDialect\" }\n        },\n        {\n          \"if\": { \"properties\": { \"format\": { \"const\": \"jsonl\" } } },\n          \"then\": { \"$ref\": \"#/$defs/JsonlDialect\" }\n        },\n        {\n          \"if\": { \"properties\": { \"format\": { \"const\": \"xlsx\" } } },\n          \"then\": { \"$ref\": \"#/$defs/XlsxDialect\" }\n        },\n        {\n          \"if\": { \"properties\": { \"format\": { \"const\": \"ods\" } } },\n          \"then\": { \"$ref\": \"#/$defs/OdsDialect\" }\n        },\n        {\n          \"if\": { \"properties\": { \"format\": { \"const\": \"parquet\" } } },\n          \"then\": { \"$ref\": \"#/$defs/ParquetDialect\" }\n        },\n        {\n          \"if\": { \"properties\": { \"format\": { \"const\": \"arrow\" } } },\n          \"then\": { \"$ref\": \"#/$defs/ArrowDialect\" }\n        },\n        {\n          \"if\": { \"properties\": { \"format\": { \"const\": \"sqlite\" } } },\n          \"then\": { \"$ref\": \"#/$defs/SqliteDialect\" }\n        }\n      ]\n    },\n    \"CsvDialect\": {\n      \"properties\": {\n        \"format\": { \"const\": \"csv\" },\n        \"delimiter\": { \"$ref\": \"#/$defs/Delimiter\" },\n        \"lineTerminator\": { \"$ref\": \"#/$defs/LineTerminator\" },\n        \"quoteChar\": { \"$ref\": \"#/$defs/QuoteChar\" },\n        \"nullSequence\": { \"$ref\": \"#/$defs/NullSequence\" },\n        \"headerRows\": { \"$ref\": \"#/$defs/HeaderRows\" },\n        \"headerJoin\": { \"$ref\": \"#/$defs/HeaderJoin\" },\n        \"commentRows\": { \"$ref\": \"#/$defs/CommentRows\" },\n        \"commentPrefix\": { \"$ref\": \"#/$defs/CommentPrefix\" },\n        \"columnNames\": { \"$ref\": \"#/$defs/ColumnNames\" }\n      }\n    },\n    \"TsvDialect\": {\n      \"properties\": {\n        \"format\": { \"const\": \"tsv\" },\n        \"lineTerminator\": { \"$ref\": \"#/$defs/LineTerminator\" },\n        \"nullSequence\": { \"$ref\": \"#/$defs/NullSequence\" },\n        \"headerRows\": { \"$ref\": \"#/$defs/HeaderRows\" },\n        \"headerJoin\": { \"$ref\": \"#/$defs/HeaderJoin\" },\n        \"commentRows\": { \"$ref\": \"#/$defs/CommentRows\" },\n        \"commentPrefix\": { \"$ref\": \"#/$defs/CommentPrefix\" },\n        \"columnNames\": { \"$ref\": \"#/$defs/ColumnNames\" }\n      }\n    },\n    \"JsonDialect\": {\n      \"properties\": {\n        \"format\": { \"const\": \"json\" },\n        \"jsonPointer\": { \"$ref\": \"#/$defs/JsonPointer\" },\n        \"rowType\": { \"$ref\": \"#/$defs/RowType\" },\n        \"headerRows\": { \"$ref\": \"#/$defs/HeaderRows\" },\n        \"headerJoin\": { \"$ref\": \"#/$defs/HeaderJoin\" },\n        \"commentRows\": { \"$ref\": \"#/$defs/CommentRows\" },\n        \"commentPrefix\": { \"$ref\": \"#/$defs/CommentPrefix\" },\n        \"columnNames\": { \"$ref\": \"#/$defs/ColumnNames\" }\n      }\n    },\n    \"JsonlDialect\": {\n      \"properties\": {\n        \"format\": { \"const\": \"jsonl\" },\n        \"rowType\": { \"$ref\": \"#/$defs/RowType\" },\n        \"headerRows\": { \"$ref\": \"#/$defs/HeaderRows\" },\n        \"headerJoin\": { \"$ref\": \"#/$defs/HeaderJoin\" },\n        \"commentRows\": { \"$ref\": \"#/$defs/CommentRows\" },\n        \"commentPrefix\": { \"$ref\": \"#/$defs/CommentPrefix\" },\n        \"columnNames\": { \"$ref\": \"#/$defs/ColumnNames\" }\n      }\n    },\n    \"XlsxDialect\": {\n      \"properties\": {\n        \"format\": { \"const\": \"xlsx\" },\n        \"sheetName\": { \"$ref\": \"#/$defs/SheetName\" },\n        \"sheetNumber\": { \"$ref\": \"#/$defs/SheetNumber\" },\n        \"headerRows\": { \"$ref\": \"#/$defs/HeaderRows\" },\n        \"headerJoin\": { \"$ref\": \"#/$defs/HeaderJoin\" },\n        \"commentRows\": { \"$ref\": \"#/$defs/CommentRows\" },\n        \"commentPrefix\": { \"$ref\": \"#/$defs/CommentPrefix\" },\n        \"columnNames\": { \"$ref\": \"#/$defs/ColumnNames\" }\n      }\n    },\n    \"OdsDialect\": {\n      \"properties\": {\n        \"format\": { \"const\": \"ods\" },\n        \"sheetName\": { \"$ref\": \"#/$defs/SheetName\" },\n        \"sheetNumber\": { \"$ref\": \"#/$defs/SheetNumber\" },\n        \"headerRows\": { \"$ref\": \"#/$defs/HeaderRows\" },\n        \"headerJoin\": { \"$ref\": \"#/$defs/HeaderJoin\" },\n        \"commentRows\": { \"$ref\": \"#/$defs/CommentRows\" },\n        \"commentPrefix\": { \"$ref\": \"#/$defs/CommentPrefix\" },\n        \"columnNames\": { \"$ref\": \"#/$defs/ColumnNames\" }\n      }\n    },\n    \"ParquetDialect\": {\n      \"properties\": {\n        \"format\": { \"const\": \"parquet\" }\n      }\n    },\n    \"ArrowDialect\": {\n      \"properties\": {\n        \"format\": { \"const\": \"arrow\" }\n      }\n    },\n    \"SqliteDialect\": {\n      \"properties\": {\n        \"format\": { \"const\": \"sqlite\" },\n        \"tableName\": { \"$ref\": \"#/$defs/TableName\" }\n      }\n    },\n    \"Profile\": {\n      \"$ref\": \"#/$defs/ExternalPath\"\n    },\n    \"ExternalPath\": {\n      \"type\": \"string\",\n      \"pattern\": \"^https?://\"\n    },\n    \"Format\": {\n      \"type\": \"string\"\n    },\n    \"Title\": {\n      \"type\": \"string\"\n    },\n    \"Description\": {\n      \"type\": \"string\"\n    },\n    \"Delimiter\": {\n      \"type\": \"string\",\n      \"maxLength\": 1\n    },\n    \"LineTerminator\": {\n      \"type\": \"string\"\n    },\n    \"QuoteChar\": {\n      \"type\": \"string\"\n    },\n    \"NullSequence\": {\n      \"type\": \"string\"\n    },\n    \"Header\": {\n      \"type\": \"boolean\"\n    },\n    \"HeaderRows\": {\n      \"oneOf\": [\n        { \"const\": false },\n        {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"integer\", \"minimum\": 1 },\n          \"minItems\": 1\n        }\n      ]\n    },\n    \"HeaderJoin\": {\n      \"type\": \"string\"\n    },\n    \"CommentRows\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"integer\", \"minimum\": 1 },\n      \"minItems\": 1\n    },\n    \"CommentPrefix\": {\n      \"type\": \"string\"\n    },\n    \"ColumnNames\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"minItems\": 1\n    },\n    \"JsonPointer\": {\n      \"type\": \"string\",\n      \"format\": \"json-pointer\"\n    },\n    \"RowType\": {\n      \"enum\": [\"array\", \"object\"]\n    },\n    \"SheetNumber\": {\n      \"type\": \"integer\"\n    },\n    \"SheetName\": {\n      \"type\": \"string\"\n    },\n    \"TableName\": {\n      \"type\": \"string\"\n    }\n  }\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"2e669bd6c1f7b5b39adc23c3a99e8372\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 288,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
