:root {
  --purple-hsl: 209, 60%, 60%;
  --overlay-blurple: hsla(var(--purple-hsl), 0.2);
  --scrollbar-color: #ddd;
}

:root[data-theme="light"] {
  --purple-hsl: 209, 85%, 65%;
  --sl-color-text-accent: #2c7cfd;
  --sl-color-banner-bg: #2c7cfd;
}

:root[data-theme="dark"] {
  --sl-color-text-accent: #2c7cfd;
  --sl-color-banner-bg: #2c7cfd;
}

/* Title */

.site-title {
  font-size: var(--sl-text-xl);
  gap: 0.75rem;
}

* {
  scrollbar-color: var(--scrollbar-color) transparent;
  scrollbar-gutter: stable;
}

/* Markdown heading links. */

.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) > a {
  color: var(--sl-color-white);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

article.card {
  border-radius: 15px;
}

/* Scroll-to-top button */

#scroll-to-top-button {
  accent-color: var(--sl-color-text-accent);
  background-color: var(--sl-color-text-accent);
}
