{
  "log": {
    "_recordingName": "loadDatasetFromGithub-should load a dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "af6e29ae2e06d9b1710553904135742d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/repos/roll/data"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1237,
            "text": "{\"id\":220959516,\"node_id\":\"MDEwOlJlcG9zaXRvcnkyMjA5NTk1MTY=\",\"name\":\"data\",\"full_name\":\"roll/data\",\"private\":false,\"owner\":{\"login\":\"roll\",\"id\":557395,\"node_id\":\"MDQ6VXNlcjU1NzM5NQ==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/557395?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/roll\",\"html_url\":\"https://github.com/roll\",\"followers_url\":\"https://api.github.com/users/roll/followers\",\"following_url\":\"https://api.github.com/users/roll/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/roll/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/roll/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/roll/subscriptions\",\"organizations_url\":\"https://api.github.com/users/roll/orgs\",\"repos_url\":\"https://api.github.com/users/roll/repos\",\"events_url\":\"https://api.github.com/users/roll/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/roll/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"html_url\":\"https://github.com/roll/data\",\"description\":null,\"fork\":false,\"url\":\"https://api.github.com/repos/roll/data\",\"forks_url\":\"https://api.github.com/repos/roll/data/forks\",\"keys_url\":\"https://api.github.com/repos/roll/data/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/roll/data/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/roll/data/teams\",\"hooks_url\":\"https://api.github.com/repos/roll/data/hooks\",\"issue_events_url\":\"https://api.github.com/repos/roll/data/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/roll/data/events\",\"assignees_url\":\"https://api.github.com/repos/roll/data/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/roll/data/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/roll/data/tags\",\"blobs_url\":\"https://api.github.com/repos/roll/data/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/roll/data/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/roll/data/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/roll/data/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/roll/data/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/roll/data/languages\",\"stargazers_url\":\"https://api.github.com/repos/roll/data/stargazers\",\"contributors_url\":\"https://api.github.com/repos/roll/data/contributors\",\"subscribers_url\":\"https://api.github.com/repos/roll/data/subscribers\",\"subscription_url\":\"https://api.github.com/repos/roll/data/subscription\",\"commits_url\":\"https://api.github.com/repos/roll/data/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/roll/data/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/roll/data/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/roll/data/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/roll/data/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/roll/data/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/roll/data/merges\",\"archive_url\":\"https://api.github.com/repos/roll/data/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/roll/data/downloads\",\"issues_url\":\"https://api.github.com/repos/roll/data/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/roll/data/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/roll/data/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/roll/data/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/roll/data/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/roll/data/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/roll/data/deployments\",\"created_at\":\"2019-11-11T10:48:02Z\",\"updated_at\":\"2025-09-17T10:59:01Z\",\"pushed_at\":\"2025-09-17T11:01:27Z\",\"git_url\":\"git://github.com/roll/data.git\",\"ssh_url\":\"git@github.com:roll/data.git\",\"clone_url\":\"https://github.com/roll/data.git\",\"svn_url\":\"https://github.com/roll/data\",\"homepage\":null,\"size\":596188,\"stargazers_count\":1,\"watchers_count\":1,\"language\":\"JavaScript\",\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"has_discussions\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":0,\"license\":null,\"allow_forking\":true,\"is_template\":false,\"web_commit_signoff_required\":false,\"topics\":[],\"visibility\":\"public\",\"forks\":0,\"open_issues\":0,\"watchers\":1,\"default_branch\":\"main\",\"temp_clone_token\":null,\"network_count\":0,\"subscribers_count\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"43d7807030782d43b7d36dda5282e964cbe96d010872f0ed41df03493c98a53d\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 17 Sep 2025 10:59:01 GMT"
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "59"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1767809516"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "core"
            },
            {
              "name": "x-ratelimit-used",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 660,
      },
      {
        "_id": "8711fc6e2571ebed808e228abe4b363c",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "recursive",
              "value": "1"
            }
          ],
          "url": "https://api.github.com/repos/roll/data/git/trees/main?recursive=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 725,
            "text": "{\"sha\":\"204e23217311a6de03542ff492a77205f399e378\",\"url\":\"https://api.github.com/repos/roll/data/git/trees/204e23217311a6de03542ff492a77205f399e378\",\"tree\":[{\"path\":\".gitignore\",\"mode\":\"100644\",\"type\":\"blob\",\"sha\":\"692050da54781395d19894b64edd9a3e292cd0a0\",\"size\":852,\"url\":\"https://api.github.com/repos/roll/data/git/blobs/692050da54781395d19894b64edd9a3e292cd0a0\"},{\"path\":\".prettierrc\",\"mode\":\"100644\",\"type\":\"blob\",\"sha\":\"36a4660e1d068962321affe174c604c8b5bfa6d5\",\"size\":90,\"url\":\"https://api.github.com/repos/roll/data/git/blobs/36a4660e1d068962321affe174c604c8b5bfa6d5\"},{\"path\":\"README.md\",\"mode\":\"100644\",\"type\":\"blob\",\"sha\":[...]
